/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --radioTile-color: #0d6efd;
  /* --danger-color: #dc3545;
  --success-color: #198754; */
}

@media screen and (min-width: 992px) {
  .containerLarge {
    width: 60%;
  }
}

.nomPrenomMargin {
  margin-bottom: 24px;
}

@media screen and (max-width: 575px) {
  .villeMargin {
    margin-bottom: 24px;
  }
}

.dispNone {
  display: none;
}

/* -------------------------------------------------------------------------- */
/* Radio tile group */
.radio-tile-invalid {
  border: 0.11rem solid #dc3545;
  border-radius: 1rem;
}

.radio-tile-valid {
  border: 0.11rem solid #198754;
  border-radius: 0.7rem;
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* //set dimensions for invisible container */
  .input-container {
    position: relative;
    height: 7rem;
    width: 12rem;
    margin: 0.5rem;

    /* //make actual radio input invisible */
    /* // + stretch to fill container */
    .radio-button {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      cursor: pointer;
    }

    /* //default tile styles */
    .radio-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 2px solid var(--radioTile-color);
      border-radius: 5px;
      padding: 1rem;
      transition: transform 300ms ease;
    }

    /* .radio-tile-invalid {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 2px solid var(--danger-color);
      border-radius: 5px;
      padding: 1rem;
      transition: transform 300ms ease;
    } */

    .icon svg {
      fill: var(--radioTile-color);
      width: 3rem;
      height: 3rem;
    }

    .radio-tile-label {
      text-align: center;
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--radioTile-color);
    }
    /* .radio-tile-label-invalid {
      text-align: center;
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--danger-color);
    } */

    /* active tile styles */
    .radio-button:checked + .radio-tile {
      background-color: var(--radioTile-color);
      border: 2px solid var(--radioTile-color);
      color: white;
      transform: scale(1.1, 1.1);

      .icon svg {
        fill: white;
        background-color: var(--radioTile-color);
      }
      .radio-tile-label {
        color: white;
        background-color: var(--radioTile-color);
      }
    }
  }
}
/* --------------------------------------------------------------------------- */

.steps .step {
  display: block;
  width: 100%;
  /* margin-bottom: 35px; */
  text-align: center;
}

.steps .step .step-icon-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 75px;
  text-align: center;
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
  display: block;
  position: absolute;
  top: 30%;
  width: 50%;
  height: 6px;
  margin-top: -1px;
  background-color: #e1e7ec;
  content: "";
  z-index: 1;
}

.steps .step .step-icon-wrap::before {
  left: 0;
}

.steps .step .step-icon-wrap::after {
  right: 0;
}

.steps .step .step-icon {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #e1e7ec;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #374250;
  font-size: 28px;
  line-height: 45px;
  z-index: 4;
}

/* .steps .step .step-title {
  margin-top: 16px;
  margin-bottom: 0;
  color: #606975;
  font-size: 14px;
  font-weight: 500;
} */

.steps .step:first-child .step-icon-wrap::before {
  display: none;
}

.steps .step:last-child .step-icon-wrap::after {
  display: none;
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
  background-color: #0d6efd;
}

.steps .step.completed .step-icon {
  border-color: #0d6efd;
  background-color: #0d6efd;
  color: #fff;
}

@media (max-width: 576px) {
  .flex-sm-nowrap .step .step-icon-wrap::before,
  .flex-sm-nowrap .step .step-icon-wrap::after {
    /* display: none; */
  }
}

@media (max-width: 768px) {
  .flex-md-nowrap .step .step-icon-wrap::before,
  .flex-md-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

@media (max-width: 991px) {
  .flex-lg-nowrap .step .step-icon-wrap::before,
  .flex-lg-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

@media (max-width: 1200px) {
  .flex-xl-nowrap .step .step-icon-wrap::before,
  .flex-xl-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

/* .bg-faded,
.bg-secondary {
  background-color: #f5f5f5 !important;
} */
